
body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.cont-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

select,
input[type="text"],
button {
    width: 500px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

select {
    color: gray;
}

button {
    background-color: #d3a4f7;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c390ee;
}
