.lobby-container {
    height: 100vh;
    position: relative;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(30, 0, 68, 0.84), rgba(14, 0, 28, 0.81));
    z-index: -1;
}

.lobby-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    object-fit: cover;
}

.lobby-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    padding: 2rem;
    color: #fff;
}

.lobby-nombre {
    font-weight: 500;
    font-size: 2.5rem;
    font-style: italic;
}

.lobby-puntos {
    font-style: italic;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.9);
}

.lobby-jugar-btn, .lobby-ranking-btn {
    padding: 5px 20px;
    font-size: 1.4rem;
    border-radius: 20px;
    transition: .4s;
    color: #fff;
}

.lobby-jugar-btn {
    background-color: #a34bf0;
    font-size: 18px;
    padding: 1% 2% 1% 2%;
    border-radius: 50px;
}

.lobby-jugar-btn:hover {
    background-color: #6a04bb;
}

.lobby-ranking-btn {
    background-color: #5d04a4;
    font-size: 18px;
    padding: 1% 2% 1% 2%;
    border-radius: 50px;
}

.lobby-ranking-btn:hover {
    background-color: #ad59f8;
}

