main {
    margin-top: 10px;
    height: auto;
    min-height: 90vh;
}
.cont-partida {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #b499ec;*/
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    padding: 40px;
}


.cont-partida h1 {
    margin: 0;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.cont-partida h4 {
    margin: 15px 0;
    text-align: center;
    font-size: 1.2em;
    color: white;
}


.cont-partida div {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    gap: .5rem;
}

.cont-partida form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-partida button {
    background-color: #8e7cc3;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    transition: .3s;
}

.cont-partida button:hover {
    background-color: #63507d;
}
/* Estilos para el popup */
.popup-overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 9999; /* Por encima de todo */
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.popup-content h2 {
    margin-top: 0;
}

.popup-buttons {
    margin-top: 20px;
}

.popup-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}