<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../public/css/styles.css"> <!-- Asegúrate de que la ruta sea correcta -->
</head>
<body>
{{#logeado}}
<footer >
                <div>
                    <div>
                        <h2>Grupo 9:</h2>
                    </div>
                    <div>
                            <p>Cardelli, Agustin</p>
                            <p>Diaz, Brenda</p>
                            <p>Dominguez, Agustin</p>
                            <p>Oviedo, Joaquín</p>
                            <p>Weigel Muñoz, Felipe</p>
                    </div>
                </div>
</footer>
{{/logeado}}
</body>