<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="styles.css">
    <title>Preguntados</title>
</head>
<body>
{{#usuario}}
    <header style="width: 100%">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="public/imagenes/logo-preguntados.png" width="30" height="30" class="d-inline-block align-top" alt="">
                {{textoNav}}
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <form method="post" action="index.php?controller=usuario&action=perfil">
                            <input value='{{id}}' hidden='hidden' name='id'>
                            <button class="nav-link" type="submit">
                            <img src="public/imagenes/profile-user" width="30" height="30" class="d-inline-block align-top" alt="">
                        </button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a href="index.php?controller=pregunta&action=logout">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{{/usuario}}
</body>
</html>


