<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/agregaPregunta.css">

</head>

<body>
    <main>
        <div class="cont-form">
            <h2>Agregar Pregunta</h2>
            <form action="">
                <select name="" id="">
                    <option disabled selected>Selecciona una categoria</option>
                    <option value="">Historia</option>
                    <option value="">Geografia</option>
                    <option value="">Ciencia</option>
                    <option value="">Arte</option>
                    <option value="">Entretenimiento</option>
                </select><br>

                <br> <input type="text" name="" id="" placeholder="Ingresar Pregunta">
                <br> <input type="text" name="" id="" placeholder="Ingresar opcion correcta">
                <br><input type="text" name="" id="" placeholder="Ingresar opcion 2">
                <br> <input type="text" name="" id="" placeholder="Ingresar opcion 3">
                <br> <input type="text" name="" id="" placeholder="Ingresar opcion 4">
                <br> <button>Guardar</button>
                <br><a href="../usuario/lobby">volver</a>
            </form>
        </div>
    </main>

</body>

</html>