<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/agregaPregunta.css">

</head>

<body>
    <main>
        <div class="cont-form">
            <h2>Agregar Pregunta</h2>
            <form method="POST" action="/admin/agregarPregunta">
                <select name="categoria" id="" required>
                    <option disabled selected>Selecciona una categoria</option>
                    <option value="Historia">Historia</option>
                    <option value="Geografia">Geografia</option>
                    <option value="Ciencia">Ciencia</option>
                    <option value="Arte">Arte</option>
                    <option value="Entretenimiento">Entretenimiento</option>
                </select><br>

                <br> <input type="text" name="pregunta" id="" placeholder="Ingresar Pregunta" required>
                <br> <input type="text" name="correcta" id="" placeholder="Ingresar opcion correcta" required>
                <br><input type="text" name="opcion2" id="" placeholder="Ingresar opcion 2" required>
                <br> <input type="text" name="opcion3" id="" placeholder="Ingresar opcion 3" required>
                <br> <input type="text" name="opcion4" id="" placeholder="Ingresar opcion 4" required>
                <br> <button type="submit">Guardar</button>
                {{#error}}
                    <p style="color: red">{{error}}</p>
                {{/error}}
                {{#success}}
                    <p style="color: green">{{success}}</p>
                {{/success}}
                <br><a href="../usuario/lobby">volver</a>
            </form>
        </div>
    </main>

</body>

</html>