<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugadores</title>
    <link rel="stylesheet" href="/public/css/styles.css"> <!-- Si tienes estilos personalizados -->
    <link rel="stylesheet" href="/public/css/ranking.css"> <!-- Si tienes estilos personalizados -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<main class="ranking-container">
    <div class="container">
        <h3 class="d-flex flex-row align-self-center d-flex justify-content-around ">Listado De Jugadores</h3>
        <h4 class="d-flex flex-row align-self-center d-flex justify-content-around ">Total De Jugadores: {{totalUsuarios}}</h4>

        <div class="d-flex flex-row align-self-center d-flex justify-content-around " style="margin: 10px" >
            <form method="post", action="/admin/reporteDeJugadores">
                <button class="btn btn-danger" type="submit">Reporte PDF</button>
            </form>

        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Nombre de Usuario</th>
                <th>Email</th>
                <th>Porcentaje de Aciertos</th>
                <th>Nivel</th>
            </tr>
            </thead>
            <tbody>
            {{#jugadores}}
                <tr>
                    <td>{{nombreCompleto}}</td>
                    <td>{{nombreUsuario}}</td>
                    <td>{{mail}}</td>
                    <td> {{porcentaje}} %</td>
                    <td>{{nivel}}</td>
                </tr>
            {{/jugadores}}
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
