<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="/public/css/styles.css"> <!-- Si tienes estilos personalizados -->
    <link rel="stylesheet" href="/public/css/ranking.css"> <!-- Si tienes estilos personalizados -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<main class="ranking-container">
    <div class="container">
    <h2 class="ranking">PREGUNTAS</h2>

    <table class="table">
        <thead class="">
        <tr>
            <th>CATEGORIA</th>
            <th>PREGUNTA</th>
            <th>NIVEL</th>
            <th>ACTIVAR/INACTIVAR</th>
            <th>MODIFICAR</th>
            <th>ELIMINAR</th>
        </tr>
        </thead>
        <tbody>
        {{#preguntas}}
            <tr>
                <td>{{categoria}}</td>
                <td>{{pregunta}}</td>
                <td>{{nivel}}</td>
                <td>
                    <form method="post" action="/editor/setEstadoPregunta">
                        <input name="idPregunta" value="{{id}}" type="hidden">
                        <button style="color: #fff; background: #bf91ed; padding: .3rem; border-radius: 50px;width: 80px;" type="submit">{{estado}}</button>
                    </form>
                </td>
                <td>
                    <a href="/editor/vistaeditarpregunta?id={{id}}"><img src="../public/imagenes/editing.png"  width="30px"/></a>
                </td>
                <td>
                    <form method="post" action="/editor/eliminarPregunta">
                        <input name="idPregunta" value="{{id}}" type="hidden">
                        <button id="noButton" type="submit"><img src="../public/imagenes/delete.png"  width="30px"/></button>
                    </form>
                </td>
            </tr>
        {{/preguntas}}

        </tbody>
    </table>
    </div>
</main>
</body>
</html>
