<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Editor</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/lobbyEditor.css">
</head>

<body>
<main>
    <main>
        <div class="content">
            <h1 class="text-center text-primary display-2 fw-bold">¡Bienvenido {{nombreCompleto}}!</h1>
            <h2 class="text-center">Panel de editor</h2>
            <article class="d-grid gap-2 col-6 ">
                <a href="/editor/vistaListaPregunta" class="">Ver preguntas </a>
                <a href="/editor/vistaAgregarPregunta" class="">Crear nueva pregunta</a>
                <a href="/editor/vistaPreguntasSugeridas" class="">Ver preguntas sugeridas</a>
                <a href="/editor/vistaPreguntasReportadas" class="">Ver preguntas reportadas</a>
            </article>
        </div>
    </main>
</main>
</body>

</html>