<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokedex</title>
    <style>
        .alerta-texto {
            text-align: center;
            width: 60%;
            margin-bottom: 1rem;
            background: rgba(140, 0,0,.8);
            color: #fff;
            padding: 1rem;
            border-radius: 10px;
        }
        .volver-btn {
            padding: 5px 15px;
            color: #fff;
            font-size: 1.2rem;
            background: rgba(0,0,0, .8);
            border-radius: 10px;
        }
        .alerta-container {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center
        }
    </style>
</head>
<body>
    <main class="alerta-container">
        <h3 class="alerta-texto" style="">Error! Debe completar todos los campos para loguearse correctamente. Vuelva a intentarlo</h3>
        <a class="volver-btn"href="index.php">Volver a la pagina principal</a>
    </main>
</body>
</html>