<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../public/css/partida.css">
    <script>
        <!--var tiempoInicio = {{ tiempoInicio }} * 1000; // Convertir a milisegundos-->
        <!--var tiempoLimite = tiempoInicio + 15000; // 15 segundos en milisegundos-->

        <!--// Función para actualizar el tiempo restante-->
        <!--function actualizarTiempo() {-->
        <!--    var tiempoActual = Date.now(); // Tiempo actual en milisegundos-->
        <!--    var tiempoRestante = tiempoLimite - tiempoActual; // Calcular el tiempo restante en milisegundos-->

        <!--    // Convertir milisegundos a segundos y redondear-->
        <!--    var segundosRestantes = Math.ceil(tiempoRestante / 1000);-->

        <!--    // Mostrar el tiempo restante donde lo necesites en tu HTML-->
        <!--    document.getElementById("tiempoTranscurrido").innerText = segundosRestantes + " segundos";-->

        <!--    // Verificar si han pasado 15 segundos-->
        <!--    if (segundosRestantes <= 0) {-->
        <!--        // Si han pasado 15 segundos, enviar el formulario-->
        <!--        document.getElementById("formulario").submit();-->
        <!--    }-->
        <!--}-->

        <!--// Llamar a la función actualizarTiempo cada segundo-->
        <!--setInterval(actualizarTiempo, 1000);-->

        <!--// Llamamos a la función una vez al cargar la página para que se actualice inmediatamente-->
        <!--actualizarTiempo();-->

        // Función para mostrar el popup
        function showPopup(event) {
            event.preventDefault();
            document.getElementById('popup').style.display = 'flex';
        }

        // Función para cerrar el popup
        function closePopup() {
            document.getElementById('popup').style.display = 'none';
        }

        // Función para confirmar el reporte
        function confirmReport() {
            // Aquí puedes añadir la lógica para reportar la pregunta, como una llamada AJAX
            document.getElementById("reportar").submit();
            alert('Pregunta reportada.');
            closePopup();
        }
    </script>
</head>
<body>
<main>
    <!-- Popup HTML -->
    <div class="popup-overlay" id="popup">
        <div class="popup-content">
            <h2>¿Seguro desea reportar esta pregunta?</h2>
            <div class="popup-buttons">
                <button onclick="confirmReport()">ACEPTAR</button>
                <button id="cancelar-btn" onclick="closePopup()">CANCELAR</button>
            </div>
        </div>
    </div>
    <div class="cont-partida" style="background-color: {{ color }};">
        <p>Tiempo transcurrido: <span id="tiempoTranscurrido"></span></p>
        <form id="formulario" method="post" action="/prtida/terminarpartida">
            {{#pregunta}}
                <h1>{{categoria}}</h1>
                <h4>{{pregunta}}</h4>
                <input value='{{id}}' type="number" hidden='hidden' name='idPregunta'>
            {{/pregunta}}
            {{#respuestas}}
                <div>
                    <input type="radio" id="respuestaCorrecta" name="idRespuesta" value="{{id}}">
                    <label for="respuestaCorrecta">{{respuesta}}</label>
                </div>
            {{/respuestas}}
            <button type="submit">ENVIAR RESPUESTA</button>
        </form>
        <form id="reportar" method="post" action="/partida/reportarPregunta">
            {{#pregunta}}
                <a href="#" onclick="showPopup(event)">REPORTAR PREGUNTA</a>
                <input value='{{id}}' type="number" hidden='hidden' name='idPregunta'>
            {{/pregunta}}
        </form>
    </div>

</main>
</body>