<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/perfil.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiq3xISXSZYgkd9GDAOdajy4NK2d3L7dY"></script>
    <script>
        function initMap() {
            // Replace the placeholders with the actual data values
            var latitud = parseFloat("{{latitud}}");
            var longitud = parseFloat("{{longitud}}");

            var mapOptions = {
                center: new google.maps.LatLng(latitud, longitud),
                zoom: 12,
                panControl: false,
                zoomControl: true,
                scaleControl: false,
                mapTypeControl: false,
                streetViewControl: true,
                overviewMapControl: true,
                rotateControl: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("map"), mapOptions);

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(latitud, longitud),
                map: map,
                draggable: false,
            });
        }
    </script>
</head>
<body onload="initMap()">
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="profile-container">
                    <h1>Usuario: {{nombreUsuario}}</h1>
                    <img class="profile-picture" src="../../public/imagenes/usuarios/{{foto}}" alt="Foto de perfil">
                    <div class="user-data">
                        <div>
                            <p>Nombre completo: {{nombreCompleto}}</p>
                            <p>Año de nacimiento: {{anioNacimiento}}</p>
                            <p>Pais: {{pais}}</p>
                            <p>Ciudad: {{ciudad}}</p>
                            <p>Correo electrónico: {{mail}}</p>
                        </div>
                    </div>
                    <div class="user-stats">
                        <p>PARTIDAS TOTALES: {{totalPartidas}} </p>
                        <p class="score">PUNTAJE: {{puntaje}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="user-data">
                    <div class="map-container">
                        <div id="map" style="width: 400px; height: 200px;"></div>
                    </div>
                </div>
                <div class="user-data">
                    <div class="qr-code-container">
                        <div class="qr-code" style="width: 150px; border-radius: 10px">
                            <img class="qr-code-img" src="/{{qrImagen}}" style="width: 140px; border-radius: 10px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
