<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<main>
    {{#usuario}}
<h1>{{nombreUsuario}}</h1>
        <img width='200px' height="200px" src='public/imagenes/usuarios/{{foto}}'>
        <div>
            <p>{{nombreCompleto}}</p>
            <p>{{anioNacimiento}}</p>
            <p>{{mail}}</p>
        </div>
        <div>mapa</div>
        <div>
            <p>PARTIDAS TOTALES: </p>
            <p>PUNTAJE: {{puntaje}}</p>
        </div>
        <div>QR</div>
    {{/usuario}}
</main>
</body>

