<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partidas</title>
    <link rel="stylesheet" href="/public/css/styles.css"> <!-- Si tienes estilos personalizados -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<main>
    <div>
        <h1>Listado de preguntas En Juego</h1>
        <table>
            <thead>
            <tr>
                <th>PreguntaId</th>
                <th>Pregunta</th>

            </tr>
            </thead>
            <tbody>
            {{#preguntasActivas}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{pregunta}}</td>
                </tr>
            {{/preguntasActivas}}
            </tbody>
        </table>
        <form method="post", action="/admin/reportePreguntasActivas">
            <button type="submit">Reporte PDF</button>
        </form>
    </div>
</main>
</body>
</html>
