<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas En Juego</title>
    <link rel="stylesheet" href="/public/css/styles.css"> <!-- Si tienes estilos personalizados -->
    <link rel="stylesheet" href="/public/css/ranking.css"> <!-- Si tienes estilos personalizados -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<main class="ranking-container">
    <h1 class="d-flex flex-row align-self-center d-flex justify-content-around ">Listado De Preguntas En Juego</h1>

    <div class="d-flex flex-row align-self-center d-flex justify-content-around " style="margin: 10px" >
        <form method="post", action="/admin/reportePreguntasActivas">
            <button class="btn btn-danger" type="submit">Reporte PDF</button>
        </form>

    </div>
    <table class="table">
            <thead>
            <tr>
                <th>Pregunta</th>

            </tr>
            </thead>
            <tbody>
            {{#preguntasActivas}}
                <tr>
                    <td>{{pregunta}}</td>
                </tr>
            {{/preguntasActivas}}
            </tbody>
        </table>

    </div>
</main>
</body>
</html>
