<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Totales</title>
    <link rel="stylesheet" href="/public/css/styles.css"> <!-- Si tienes estilos personalizados -->
    <link rel="stylesheet" href="/public/css/ranking.css"> <!-- Si tienes estilos personalizados -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<main class="ranking-container">
    <div>
        <h1>Listado De Preguntas</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Pregunta</th>

            </tr>
            </thead>
            <tbody>
            {{#preguntasDelJuego}}
                <tr>
                    <td>{{pregunta}}</td>

                </tr>
            {{/preguntasDelJuego}}
            </tbody>
        </table>

        <div class="d-flex flex-row align-self-center d-flex justify-content-around " style="margin: 10px" >
            <a  class="btn btn-primary " href="../usuario/lobby">volver</a>
        <form method="post", action="/admin/reporteDePreguntas">
            <button class="btn btn-danger" type="submit">Reporte PDF</button>
        </form>
    </div>
    </div>

</main>
</body>
</html>
