<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="/public/css/styles.css"> <!-- Si tienes estilos personalizados -->
    <link rel="stylesheet" href="/public/css/ranking.css"> <!-- Si tienes estilos personalizados -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const rows = document.querySelectorAll('.table tbody tr');
            rows.forEach(row => {
                row.addEventListener('click', () => {
                    const link = row.querySelector('a');
                    if (link) {
                        window.location.href = link.getAttribute('href');
                    }
                });
            });
        });
    </script>
</head>
<body>
<main class="ranking-container">
    <div class="container">
        <h2 class="ranking">RANKING</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Nombre De Usuario</th>
                <th>Partidas Totales</th>
                <th>Mejor Partida</th>
                <th>Puntaje Total</th>
                <th>Ver perfil</th>
            </tr>
            </thead>
            <tbody>
            {{#jugadores}}
                <tr>
                    <td>{{nombreCompleto}}</td>
                    <td>{{totalPartidas}}</td>
                    <td>{{mejorPartida}}</td>
                    <td>{{puntajeTotal}}</td>
                    <td><a href="/usuario/perfil/id={{id}}"><img src="/public/imagenes/see.png" alt="Ver perfil" width="30px"></a></td>
                </tr>
            {{/jugadores}}
            </tbody>
        </table>
    </div>
</main>

</body>
</html>
