<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="/public/css/styles.css"> <!-- Si tienes estilos personalizados -->
    <link rel="stylesheet" href="/public/css/ranking.css"> <!-- Si tienes estilos personalizados -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<main class="ranking-container">
    <h2 class="ranking">Ranking</h2>

        <table class="table">
            <thead class="">
            <tr>
                <th>Nombre De Usuario</th>
                <th>Partidas Totales</th>
                <th>Mejor Partida</th>
                <th>Puntaje Total</th>
                <th>Ver perfil</th>
            </tr>
            </thead>
            <tbody>
            {{#jugadores}}
                <tr>
                    <td><a href="/usuario/perfil/id={{id}}">{{nombreCompleto}}</a></td>
                    <td><a href="/usuario/perfil/id={{id}}">{{totalPartidas}}</a></td>
                    <td><a href="/usuario/perfil/id={{id}}">{{mejorPartida}}</a></td>
                    <td><a href="/usuario/perfil/id={{id}}">{{puntajeTotal}}</a></td>
                    {{#foto}}
                        <td style="background: #c38ed7"><a href="/usuario/perfil/id={{id}}"><img src="/public/imagenes/usuarios/{{foto}}" alt="Ver perfil" width="30px"></a></td>
                    {{/foto}}
                    {{^foto}}
                        <td style="background: #c38ed7"><a href="/usuario/perfil/id={{id}}"><img src="/public/imagenes/profile-user.png" alt="Ver perfil" width="30px"></a></td>
                    {{/foto}}
                </tr>
            {{/jugadores}}
            </tbody>
        </table>
    </div>
</main>

</body>
</html>
