<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiq3xISXSZYgkd9GDAOdajy4NK2d3L7dY"></script>
    <script>
        function initMap() {
            var mapOptions = {
                center: new google.maps.LatLng(-34.6686986, -58.5614947),
                zoom: 12,
                panControl: false,
                zoomControl: false,
                scaleControl: false,
                mapTypeControl: false,
                streetViewControl: true,
                overviewMapControl: true,
                rotateControl: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("mapa"), mapOptions);

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(-34.6686986, -58.5614947),
                map: map,
                draggable: true,
            });

            google.maps.event.addListener(map, 'click', function (event) {
                var lat = event.latLng.lat();
                var lng = event.latLng.lng();

                marker.setPosition(new google.maps.LatLng(lat, lng));

                document.getElementById('lat').value = lat;
                document.getElementById('lng').value = lng;

                fetch(`https://api.opencagedata.com/geocode/v1/json?q=${lat}+${lng}&key=c2638da7257a403184f9a73d58e8f8e6`)
                        .then(response => response.json())
                        .then(data => {
                            if (data.results.length > 0) {
                                var location = data.results[0].components;
                                var ciudad = location.city || location.town || location.village || '';
                                var pais = location.country || '';

                                document.getElementById('ciudad').value = ciudad;
                                document.getElementById('pais').value = pais;
                            } else {
                                console.log('No results found');
                            }
                        })
                        .catch(error => {
                            console.log('Error fetching data: ' + error);
                        });
            });
        }

    </script>


    <style>

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>
</head>
<body onload="initMap()">
<main style="padding-bottom: 2rem">
    <div class="container">
        <div class="row pt-4">
            <div class="col-md-6">
                <img src="../public/imagenes/preguntados-home.jpg" alt="Imagen de bienvenida" width="100%"
                     style="object-fit: contain">
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div>
                    <h1 class="mt-3">Registro de Usuario</h1>
                    <form action="/usuario/registro" method="post" enctype="multipart/form-data">
                        <div class="mb-2">
                            <label for="nombreCompleto" class="form-label">Nombre Completo:</label>
                            <input type="text" class="form-control" id="nombreCompleto" name="nombreCompleto" required>
                        </div>

                        <div class="form-container">
                            <div class="mb-2">
                                <label for="anioNacimiento" class="form-label">Año de Nacimiento:</label>
                                <input type="number" class="form-control" id="anioNacimiento" name="anioNacimiento"
                                       min="1900" max="2024" maxlength="4" required>
                            </div>
                        </div>


                        <div class="mb-2">
                            <label for="sexo" class="form-label">Sexo:</label>
                            <select class="form-select" id="sexo" name="sexo" required>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>

                        <div>
                            <div id="mapa" style="width:400px; height:250px;"></div>
                        </div>

                        <div class="mb-2">
                            <input type="hidden" class="form-control" id="lat" name="lat">
                        </div>

                        <div class="mb-2">
                            <input type="hidden" class="form-control" id="lng" name="lng">
                        </div>

                        <div class="mb-2">
                            <label for="pais" class="form-label">País:</label>
                            <input type="text" class="form-control" id="pais" name="pais" required>
                        </div>

                        <div class="mb-2">
                            <label for="ciudad" class="form-label">Ciudad:</label>
                            <input type="text" class="form-control" id="ciudad" name="ciudad" required>
                        </div>

                        <div class="mb-2">
                            <label for="mail" class="form-label">Correo Electrónico:</label>
                            <input type="email" class="form-control" id="mail" name="mail" required>
                        </div>

                        <div class="mb-2">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>

                        <div class="mb-2">
                            <label for="nombreUsuario" class="form-label">Nombre de Usuario:</label>
                            <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario"
                                   required>
                        </div>

                        <div class="mb-2">
                            <label for="foto" class="form-label">Foto de Perfil:</label>
                            <input type="file" class="form-control" id="foto" name="foto">
                        </div>

                        {{#error}}
                            <p style="font-size: .9rem; color: red">{{message}}</p>
                        {{/error}}

                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                    <div class="d-flex gap-2">
                        <p>¿Ya sos miembro?</p>
                        <a href="/usuario/vistalogin">Logueate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
