<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<main>
    {{#usuario}}
<!--        me tuve que ellevar el usuario otra vez porque no me tomaba la session-->
    <form method="post" action="index.php?controller=usuario&action=lobby">
        <input value='{{id}}' hidden='hidden' name='id'>
        <h1>{{resultado}}</h1>
        <button type="submit">Continuar</button>
    {{/usuario}}
</main>
</body>